/* Spanish-Rose: #882D6A; */
/* Green: #8FBF59; */

/* Animations */
@keyframes flyin {
	0% {
		opacity: 0.25;
		transform: scale(1.25);
		filter: blur(3px);
	}
  100% {
		filter: blur(0);
		transform: scale(1);
		opacity: 1;
  }
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes fadeIn {
	0% {
		transform: scale(0.2);
		opacity: 0.3;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

/* General Settings */
@font-face {
	font-family: 'Josefin-Sans';
	src: url('../font/JosefinSans-Light.eot?#iefix') format('embedded-opentype');
	src: url('../font/JosefinSans-Light.ttf') format("truetype");
	src: url('../font/JosefinSans-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Josefin-Sans';
	src: url('../font/JosefinSans-Regular.eot?#iefix') format('embedded-opentype');
	src: url('../font/JosefinSans-Regular.ttf') format("truetype");
	src: url('../font/JosefinSans-Regular.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
	font-family: 'Josefin-Sans', sans-serif;
}

html, body {
	height: 100%;
}


a {
	text-decoration: none;
	font-family: 'Josefin Sans';
}

a:link {
	color: gray;
	transition: color 0.3s;
}

a:visited {
	color: gray;
}

a:hover {
	color: #8FBF59;
	transition: color 0.3s;
}

a:active {
	color: black;
}

/* Premade classes for content layout purposes */
.page {
	position: relative;
	min-height: 100%;
	width: 100%;
	margin: 0 auto;
}

.content {
	/* Nothing to do atm */
}

.footer {
	border: dashed 2px #882D6A;
	font-size: 20px;
	text-align: center;

	height: 50px;
	width: 100%;
	padding: 10px 10px 10px 10px;
	margin: 1em 1px 1px 1px;
}

/* ==============================================
   Navigation element, default browser experience
   ==============================================*/

/* TODO rework! */

/* small screens */
@media screen and (min-width: 1px) and (max-width: 899px) {
	.navigation {
		overflow: auto;
		text-align: center;
		border-bottom-width: 5px;
		border-bottom-color: #882D6A;
		border-bottom-style: solid;
	}

	.navigation img {
		max-width: 25%;
		min-width: 150px;
		min-height: 75px;
		height: auto;
		width: auto\9;	/*i8 fix*/
		margin: 0 auto;
	}

	.navigation ul {
		padding-top: 10px;
	}

	.navigation li {
		border-top-width: 5px;
		border-top-color: #882D6A;
		border-top-style: solid;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		font-size: 1.2em;
	}
}

/* medium screens */
@media screen and (min-width: 900px) and (max-width: 1299px) {
	.navigation {
		overflow: auto;
		text-align: center;
	}

	.navigation img {
		max-width: 25%;
		min-width: 220px;
		min-height: 110px;
		height: auto;
		width: auto\9;	/*i8 fix*/
		margin: 0 auto;
	}

	.navigation ul {
		padding-top: 10px;

		border-bottom-width: 0.6cm;
		border-bottom-style: solid;
		border-color: #882D6A;
		padding-bottom: 5px;
	}

	.navigation li {
		display: inline;
		margin-left: 0.5em;
		margin-right: 0.5em;
		font-size: 18px;
	}
}

/* large screens */
@media screen and (min-width: 1300px) {
	.navigation {
		overflow: auto;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 1300px;
	}

	.navigation img {
		width: 200px;
		height: 110px;
		float: left;
	}

	.navigation ul {
		text-align: center;
	}

	.navigation #nav {
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 50px;
		float: left;
		width: 1040px;

		border-bottom-width: 0.5cm;
		border-bottom-style: solid;
		border-color: #882D6A;
	}

	.navigation li {
		display: inline;
		margin-left: 30px;
		font-size: 14pt;
	}
}
