/* Spanish-Rose: #882D6A; */
/* Green: #8FBF59; */

.angebote {
	text-align: center;
	margin-top: 20px;
}

h2 {
	text-align: center;
	color: #8FBF59;
	margin-bottom: 20pt;
	font-size: 30pt;
}

.box {
	padding: 20px 10px 20px 10px;
	border: dashed 2px #882D6A;
	border-left: dashed 2px #882D6A;
	display: inline-block;
	vertical-align: bottom;

	animation: fadeIn 0.7s ease-in-out forwards;
	visibility: visible !important;
}

.box ul {
	clear: both;
	text-align: left;
	list-style-type: none;
	padding-left: 10px;
}

.box li {
	margin-bottom: 6px;
}

#stack .box {
	float: right;
	clear: right;
}

#stack {
	display: inline-block;
	vertical-align: top;
}

.preis {
	float: right;
	padding-right: 10px;
	font-weight: bold;
}

/* small screens */
@media screen and (min-width: 1px) and (max-width: 599px) {
	.box {
		margin: 10px 10px 10px 10px;
		min-width: 90%;
		max-width: 90%;
		font-size: 5vw;
	}

	#stack {
		width: 100%;
	}

	#stack .box {
		float: none;
	}
}

/* medium and large screens */
@media screen and (min-width: 600px) {
	.box {
		width: 475px;
		margin: 20px 10px 20px 10px;
		font-size: 17pt;
	}
}
