/* Spanish-Rose: #882D6A; */
/* Green: #8FBF59; */

.images {
	text-align: center;
	margin-top: 1em;
}

.imageBox {
	display: inline-block;
	margin: 1em;

	animation: flyin 0.7s ease forwards;
}

/* small screen */
@media screen and (min-width: 1px) and (max-width: 899px) {
	.imageBox img {
		width: 90%;
		border-bottom: groove 10px #8FBF59;
		box-shadow: 5px 5px 10px gray;
	}
}

/* medium screens */
@media screen and (min-width: 900px) {
	.imageBox img {
		border-bottom: groove 10px #8FBF59;
		max-width: 512px;
		max-height: 256px;
		box-shadow: 5px 5px 10px gray;
	}
}
