/* Spanish-Rose: #882D6A; */
/* Green: #8FBF59; */

/* ===========================
   		   image rondel
   ===========================*/
.largeImgContainer {
	-webkit-transform: translate3d(0,0,0);
}

.largeImgContainer ul {
	-webkit-transform: translate3d(0,0,0);
}

.largeImgContainer li {
	-webkit-transform: translate3d(0,0,0);
}

.largeImgContainer img {
	-webkit-transform: translate3d(0,0,0);
}

.appearLeft {
	animation: appearLeft 1s ease forwards;
	visibility: visible !important;
}

.appearRight {
	animation: appearRight 1s ease forwards;
	visibility: visible !important;
}

/* Welcome Banner */
#welcomeBanner {
	text-align: center;
	margin: 30px 50px 10px 50px;
	font-size: 40pt;
}

/* small screens (phones etc) */
@media screen and (min-width: 1px) and (max-width: 899px) {
	.largeTextContainer {
		width: auto;
		margin-left: 10%;
		margin-right: 10%;
		text-align: justify;
		font-size: 17pt;
		overflow: hidden;
		line-height: 120%;
	}

	.largeImgContainer {
		overflow: hidden;
		width: auto;
		text-align: center;
		margin-left: 5%;
		margin-right: 5%;
	}

	.largeImgContainer img {
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: 1%;
		margin-top: 4%;
		width: 30%;
		max-width: 500px;

		border-bottom-style: groove;
		border-bottom-color: #8FBF59;
		border-width: 15px;
	}

	.largeImgContainer li {
		display: inline;
	}

	#welcomeBanner {
		margin-left: 5%;
		margin-right: 5%;
		font-size: 28pt;
		font-weight: bold;
	}
}

/* medium screens */
@media screen and (min-width: 900px) and (max-width: 1299px) {
	.largeTextContainer {
		width: auto;
		margin-left: 65px;
		margin-right: 65px;
		text-align: justify;
		font-size: 17pt;
		overflow: hidden;
		line-height: 20pt;
	}

	.largeImgContainer {
		overflow: hidden;

		width: auto;
		margin: 0 auto;
		margin-top: 30px;

		text-align: center;
	}

	.largeImgContainer img {
		margin-left: 10px;
		margin-right: 10px;
		max-height: 30%;
		width: 29%;

		border-bottom-style: groove;
		border-bottom-color: #8FBF59;
		border-width: 15px;
	}

	.largeImgContainer li {
		display: inline;
	}
}

/* large screens */
@media screen and (min-width: 1300px) {
	.largeImgContainer {
		overflow: hidden;
		margin-top: 20px;
		width: 1075px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.largeTextContainer {
		text-align: justify;
		font-size: 17pt;
		line-height: 20pt;

		width: 1020px;
		margin: 0 auto;
	}

	.largeImgContainer img {
		margin-left: 10px;
		margin-right: 10px;
		width: auto;
		height: 230px;

		border-bottom-style: groove;
		border-bottom-color: #8FBF59;
		border-width: 15px;
	}

	.largeImgContainer li {
		display: inline;
	}
}
