/* Spanish-Rose: #882D6A; */
/* Green: #8FBF59; */

/* ===========================
   		   image rondel
   ===========================*/
/* small screens (phones etc) */
@media screen and (min-width: 1px) and (max-width: 674px) {

}

/* medium screens */
@media screen and (min-width: 675px) and (max-width: 1074px) {
	.largeTextContainer {
		width: auto;
		margin-left: 1.5em;
		margin-right: 1.5em;
		text-align: justify;
		font-size: 1.2em;
	}

	.largeImgContainer {
		overflow: hidden;
		margin-top: 50px;
		width: 1075px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.largeImgContainer img {
		margin-left: 0.5em;
		margin-right: 0.5em;
		width: auto;
		height: 250px;

		border-bottom-style: groove;
		border-bottom-color: #8FBF59;
		border-width: 15px;
	}

	.largeImgContainer li {
		display: inline;
	}
}

/* large screens */
@media screen and (min-width: 1075px) {
	.largeTextContainer {
		width: 1050px;
		margin-left: auto;
		margin-right: auto;
		text-align: justify;
		font-size: 1.2em;
	}

	.largeImgContainer {
		overflow: hidden;
		margin-top: 50px;
		width: 1075px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.largeImgContainer img {
		margin-left: 0.5em;
		margin-right: 0.5em;
		width: auto;
		height: 250px;

		border-bottom-style: groove;
		border-bottom-color: #8FBF59;
		border-width: 15px;
	}

	.largeImgContainer li {
		display: inline;
	}
}

/* Welcome Banner */
#welcomeBanner {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-size: 2.5em;
}