/* Spanish-Rose: #882D6A; */
/* Green: #8FBF59; */

/* ===========================
   		   image rondel
   ===========================*/
/* small screens (phones etc) */
@media screen and (min-width: 1px) and (max-width: 674px) {
	.largeCenterContainer {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		border: solid 1px red;
	}

	.largeCenterContainer li {
		display: inline;
		margin: 75px 1.7em 0.5em 0em;
		text-align: center;
	}

	.largeCenterContainer img {
		max-width: 300px;
		max-height: 150px;
	}
}

/* medium screens */
@media screen and (min-width: 675px) and (max-width: 1074px) {

}

/* large screens */
@media screen and (min-width: 1075px) {
	.largeCenterContainer {
		overflow: auto;
		margin-top: 10px;
	}

	.largeCenterContainer img {
		max-width: 100%;
		width: auto;
		height: auto;
		float: left;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

	.largeCenterContainer ul {
		padding-top: 50px;
		float: both;
	}

	.largeCenterContainer li {
		display: inline;
		margin-right: 1.5em;
		font-size: 1.2em;
	}
}

/* Welcome Banner */
#welcomeBanner {
	text-align: center;
	margin-top: 1em;
}