/* Spanish-Rose: #882D6A; */
/* Green: #8FBF59; */

h2 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
	color: #8FBF59;
}

.angebote {
	text-align: center; /* this centers all boxes. TODO: rework (with grid layout ?!) */
}

.box {
	padding: 10px 5px 10px 5px;
	border: dashed 2px #882D6A;
	border-left: dashed 2px #882D6A;
	display: inline-block;
	vertical-align: bottom;

	animation: fadeIn 0.7s ease-in-out forwards;
	visibility: visible !important;
}

.box ul {
	clear: both;
	text-align: left;
	list-style: none;
	padding-left: 10px;
}

.dauer {
	float: left;
	margin-bottom: 10px;
	font-weight: bold;
	padding-left: 10px;
}

.preis {
	float: right;
	font-weight: bold;
	padding-right: 10px;
}

.description {
	clear: both;
	text-align: justify;
	line-height: 110%;
	padding-left: 3%;
	padding-right: 5%;
}


/* small screens */
@media screen and (max-width: 599px) {
	h2 {
		font-size: 20pt;
	}

	.box {
		margin-top: 10px;
		margin-bottom: 20px;
		font-size: 14pt;
		width: 90%;
	}

	.box li {
		line-height: 16pt;
	}

	.description {
		line-height: 16pt;
	}
}

/* medium screens */
@media screen and (min-width: 600px) and (max-width: 899px) {
	h2 {
		font-size: 25pt;
	}

	.box {
		margin: 10px 10px 10px 10px;
		width: 45vw;
		min-height: 300px;

		font-size: 14pt;
	}

	.oneline {
		margin-bottom: 50px;
	}

	#rueckenmassage {
		margin-bottom: 20px
	}

	#paraffin {
		font-size: 11pt;
	}
}

/* large screens */
@media screen and (min-width: 900px) {
	h2 {
		font-size: 30pt;
	}

	.box {
		width: 400px;
		min-height: 300px;
		margin: 20px 10px 20px 10px;
		font-size: 17pt;
		line-height: 24pt;
	}

	.oneline {
		margin-bottom: 50px;
	}

	#rueckenmassage {
		font-size: 27pt;
		margin-bottom: 20px
	}

	#paraffin {
		font-size: 12pt;
	}
}
