/* Spanish-Rose: #882D6A; */
/* Green: #8FBF59; */
#form {
	margin-top: 2em;
	margin-left: 2em;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#form summary {
	font-size: 150%;
	display: block;
	outline: none;
}

#form summary:hover {
	color: #8FBF59;
	transition: color 0.3s;
}

#form summary::-webkit-details-marker {
    color: #882D6A;
    font-size: 100%;
}

#form ul {
	list-style: none;
}

#form p {
	margin-bottom: 0.3em;
	margin-top: 1em;
	font-size: 150%;
}

input {
	padding: 10px;
	border: solid 1px #8FBF59;
	font-size: 22px;
	transition: box-shadow 0.5s, border 0.5s;
}

input:focus {
	border: solid 1px #882D6A;
	box-shadow: 0 0 5px 1px #969696;
	outline: none;
}

input.error {
	border: solid 2px red;
}

textarea {
	padding: 10px;
	border: solid 1px #8FBF59;
	font-size: 22px;
	transition: box-shadow 0.5s, border 0.5s;
}

textarea:focus {
	border: solid 1px #882D6A;
	box-shadow: 0 0 5px 1px #969696;
	outline: none;
}

textarea.error {
	border: solid 2px red;
}

#button {
	display: inline-block;
	background-color: #8FBF59;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 1.3em;
	border-radius: 8px;
	outline: none;
	margin-top: 30px;
	margin-left: -3px;

	/* hover animation stuff */
    cursor: pointer;
}

#button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: padding-right 0.5s, right 0.5s, opacity 0.5s, content 0.5s;
}

#button span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: padding-right 0.5s, right 0.5s, opacity 0.5s, content 0.5s;
}

#button:hover span {
	padding-right: 25px;
}

#button:hover span:after {
	opacity: 1;
	right: 0;
}

#button:hover {
	background-color: #882D6A;
	color: white;
	border: none;
	outline: none;
}

#button:active {
	background-color: gray;
	color: white;
	border: none;
	outline: none;
}

/* low width */
@media screen and (min-width: 1px) and (max-width: 899px) {
	#form {
		width: auto;
		margin-left: 5%;
		margin-right: 5%;
		padding-right: 10px;

		border-style: solid;
		border-width: 2px;
		border-color: #882D6A;
	}

	#button {
		max-width: 899px;
		width: 100%;
		margin-left: auto;
		margin-right: auto
	}

	#bigInput {
		max-width: 899px;
		width: 100%;
		height: 300px;
	}

	input {
		max-width: 899px;
		width: 100%;
	}

	#kontakt {
		margin: 3em 1em;
		margin-bottom: 0px;
	}

	#map {
		width: 90%;
		height: 500px;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;

		border-style: groove;
		border-color: #8FBF59;
		border-width: 10px;
	}
}

/* medium and large screens */
@media screen and (min-width: 900px) {
	#form {
		overflow: auto;
		width: 47.5%;
		margin-left: 2%;
		margin-right: 0.5%;
		padding-right: 0px;
		display: inline-block;
	}

	#form ul {
		margin-left: 1%;
	}

	#button {
		width: 97%;
		margin-left: 1%;
		margin-right: 1%;
	}

	#bigInput {
		width: 98%;
		height: 300px;
	}

	input {
		width: 98%;
	}

	#kontakt {
		margin-left: 3%;
		margin-top: 30px;
	}

	#data {
		display: inline-block;
		width: 47.5%;
		height: 1085px;
		margin-top: 1em;
		margin-left: 0.5%;
		margin-right: 2%;
		float: right;
		padding-top: 10px;
	}

	#map {
		width: 95%;
		height: 77.5vh;
		overflow: hidden;
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 2%;
		display: inline-block;
		float:top;

		border-style: groove;
		border-color: #8FBF59;
		border-width: 2px;
	}
}

#kontakt {
	text-align: center;
}

#kontakt h2 {
	font-size: 2em;
	margin-bottom: 0.5em;
}

#kontakt p {
	font-size: 1.5em;
	line-height: 1.3em;
}
