p {
	text-align: justify;
}

#profile {
	animation: slideLeft 0.7s ease-in-out;
	visibility: visible !important;
}

/* very small displays */
@media screen and (max-width: 599px) {
	p {
		font-size: 5vw;
		line-height: 6vw;
	}

	h2 {
		font-size: 7.5vw;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	#profile {
		margin-top: 10px;
		margin-bottom: 30px;
		text-align: center;
	}

	#profile img {
		max-width: 100%;
		resize: both;
	}

	#profileDescription {
		margin-left: 5%;
		margin-right: 5%;
	}
}

/* Small displays */
@media screen and (min-width: 600px) and (max-width: 899px) {
	p {
		font-size: 17pt;
		line-height: 20pt;
	}

	h2 {
		font-size: 24pt;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	#profile {
		margin-top: 10px;
		margin-bottom: 30px;
		text-align: center;
	}

	#profile img {
		max-width: 100%;
		resize: both;
	}

	#profileDescription {
		margin-left: 5%;
		margin-right: 5%;
	}
}

/* Medium displays */
@media screen and (min-width: 900px) and (max-width: 1299px) {
	p {
		font-size: 17pt;
		line-height: 20pt;
	}

	h2 {
		font-size: 24pt;
		margin-top: 15pt;
		margin-bottom: 10pt;
	}

	#profile {
		width: 800px;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		text-align: center;
	}

	#profileDescription {
		margin-left: 5%;
		margin-right: 5%;
	}
}

/* large screens */
@media screen and (min-width: 1300px) {
	p {
		font-size: 17pt;
		line-height: 22pt;
	}

	h2 {
		font-size: 26pt;
		margin-top: 20px;
		margin-bottom: 10px;
	}


	#profile {
		max-width: 42%;
		margin-right: 30px;
		float: left;
		overflow: hidden;
	}

	#profileDescription {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 1225px;
	}
}
