p {
	text-align: justify;
}

#profile {
	animation: slideRight 0.7s ease-in-out;
	visibility: visible !important;
}

/* Small displays */
@media screen and (min-width: 1px) and (max-width: 899px) {
	p {
		font-size: 6vw;
		line-height: 7vw;
	}

	h2 {
		font-size: 8vw;
		margin-bottom: 2vw;
	}

	#profile {
		margin-top: 1em;
		margin-bottom: 1em;
		text-align: center;
	}

	#profile img {
		max-width: 100%;
		resize: both;
	}

	#profileDescription {
		margin-left: 5%;
		margin-right: 5%;
	}
}

/* Medium displays */
@media screen and (min-width: 900px) and (max-width: 1299px) {
	p {
		font-size: 18pt;
		line-height: 20pt;
	}

	h2 {
		font-size: 24pt;
		margin-top: 15pt;
		margin-bottom: 10pt;
	}

	#profile {
		width: 800px;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1em;
		text-align: center;
	}

	#profileDescription {
		margin-left: 5%;
		margin-right: 5%;
	}
}

/* large screens */
@media screen and (min-width: 1300px) {
	p {
		font-size: 20pt;
		line-height: 22pt;
	}

	h2 {
		font-size: 26pt;
		margin-top: 15pt;
		margin-bottom: 10pt;
	}


	#profile {
		max-width: 42%;
		margin-right: 1em;
		float: left;
		overflow: hidden;
	}

	#profileDescription {
		margin-top: 3em;
		margin-left: auto;
		margin-right: auto;
		width: 1225px;
	}
}
